.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      .chat-main__group-info__box__group{"data-group_id" => "17836"}
        aaaaa
        %ul.chat-main__group-info__box__group-member
          Member:
          %li.chat-main__group-info__box__group-member__list
            momomomo
          %li.chat-main__group-info__box__group-member__list
            aaa
    = link_to "#", class:"chat-main__group-info__edit-btn" do
      Edit
  .chat-main__message-list
    .chat-main__message-list__index
      .chat-main__message-list__index__info
        %p.chat-main__message-list__index__info--user
          aaa
        %p.chat-main__message-list__index__info--daytime
          2020/02/11(Tue)12:00:00
      .chat-main__message-list__index__text
        おはよう
  .chat-main__message-form
    %form.chat-main__message-form__new