.chat-main
  .chat-main__group-info
    .main-header
      .main-header__leftbox
        .main-header__leftbox__group{"data-group_id" => "17836"}
          aaaaa
        %ul.main-header__leftbox__group-member
          Member:
          %li.main-header__leftbox__group-member__list
            momomomo
          %li.main-header__leftbox__group-member__list
            aaa
        = link_to "#", class:"edit" do
          .main-header__edit-btn
  .chat-main__message-list
  .chat-main__message-form