.chat-main
  .chat-main__group-info
   .main-header
     .main-header__leftbox
      .main-header__leftbox__group
      %ul.main-header__leftbox__member
        Member:
        %li.main-header__leftbox__member-list
        %li.main-header__leftbox__member-list
     = link_to "#", class:"edit" do
       .main-header__edit-btn
  .chat-main__message-list
  .chat-main__message-form