.side-bar
  .side-bar__username
    .side-bar__username-box
      %p.side-bar__username-box__name
        = current_user.name
      %ul.side-bar__username-box__menu
        %li
        =link_to "#" , class: "new-group" do
          =icon('fas','edit')
        %li
        =link_to edit_user_path(current_user),class:"setting"do
          =icon('fas','cog')
  .side-bar__group-list
    .side-bar__group-list__box
      %p 
      = link_to "#" , class: "side-bar__group-list__box__name" do
        グループ名
      %p.side-bar__group-list__box__message
        message