.side-bar
  .side-bar__username
    .side-bar__username-box
      %p.side-bar__username-box__name
        = current_user.name
      %ul.side-bar__username-box__menu
        %li
        =link_to new_group_path , class: "new-group" do
          =icon('fas','edit')
        %li
        =link_to edit_user_path(current_user),class:"setting"do
          =icon('fas','cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__box
        = link_to group_messages_path(group)  , class: "side-bar__group-list__box__name" do
          .side-bar__group-list__box__name
            = group.name
          .side-bar__group-list__box__message
            = group.show_last_message
          