* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  height: 100%;
  background-color: #253141;
  box-sizing: border-box;
  &__username {
    height: 100px;
    display: flex;
    align-items: center;
    &-box {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      color: #ffffff;
      &__name {
        font-size: 16px;
      }
      &__menu{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 60px;
        .new-group {
          margin-right: 5px;
          color: #ffffff;
        }
        .setting {
          color: #ffffff;
        }
      }
    }
  }
  &__group-list {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #2f3e51;
    padding:20px 20px 0;
    .group-page {
      text-decoration: none;
      color: #ffffff;
      &__box {
      height: 35px;
      width: 260px;
      margin-bottom: 40px;
      font-weight: bold;
      color: #ffffff;
      box-sizing: border-box;
      display: block;
        &__name {
        font-size: 15px;
        height: 20px;
        line-height: 15px;
        padding-bottom: 5px;
        }
        &__message {
        font-size: 11px;
        height: 11px;
        line-height: 11px;
        }  
      }
    }
  }
}
.chat-main {
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  &__group-info {
    width: 100%;
    height: 99px;
    border-bottom: solid 1px #eeeeee;
    .main-header {
      height: 100%;
      width: 100%;
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      &__leftbox {
        margin-top: 35px;
        height: 64px;
        width: 150px;
        &__group {
          font-size: 20px;
          color: #333333;
          height: 35px;
          margin-block-end: 15px;
          box-sizing: border-box;
          display: block;
          &-member {
            font-size: 12px;
            color: #999999;
            display: flex;
            &__list {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  &__message-list {
    width: 100%;
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form {
    width: 100%;
    height: 90px;
    background-color: #d2d2d2;
  }
}